<html lang="en">

<head>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Weather app</title>
    <meta charset="utf-8" />

<body>
    <div id="app">
        <div>
            Default: <span id="default">{{Default}}</span></br>
            Likely: <span id="likely">{{likely}}</span></br>
            Unlikely: <span id="unlikely">{{unlikely}}</span></br>
        </div>
        <h1>Current Weather:</h1>
        <div class="card" style="width:50%">
            <div class="card-body">
                <div class="card-title">
                    <h5>Date/time: {{getDate(current.dt)}}</h5>
                </div>
                <p class="card-text">
                    Temperature (Farenheit): {{getFarenheit(current)}}<br />
                    Conditions: {{getWeather(current)}}<br />
                    Humidity: {{getHumidity(current)}}%<br />
                    Pressure: {{getPressure(current)}} hPa<br />
                </p>
            </div>
        </div>
        <h2>Past weather:</h2>
        <div v-for="(item, idx) in data" class="card" style="width:50%">
            <div class="card-body" v-bind:data-idx="idx" v-on:click="toggle" style="color:blue">
                Date/time: {{getDate(item.dt)}}<br />
                Temperature (Farenheit): {{getFarenheit(item.main.temp)}}<br />
                Conditions: {{item.weather[0].description}}<br />
                Humidity: {{item.main.humidity}}%<br />
                Pressure: {{item.main.pressure}} hPa<br />
            </div>
        </div>
    </div>


    <script>
        // Create a Vue app in here
        var app = new Vue({
            el: '#app',
            data: {
                latitude: "",
                longitude: "",
                current: {},
                data: {},
                states: ["default", "likely", "unlikely"],
            },
            methods: {
                toggle: function (ev) {
                    let idx = ev.target.getAttribute('data-idx');
                    index = (this.data[idx].state + 1) % 3;
                    this.data[idx].state = index;
                    if (index == 0) {
                        ev.target.setAttribute("style", "color:blue");
                        document.querySelector("#default").innerText -= -1;
                        document.querySelector("#unlikely").innerText -= 1;
                    }
                    else if (index == 1) {
                        ev.target.setAttribute("style", "color:green");
                        document.querySelector("#likely").innerText -= -1;
                        document.querySelector("#default").innerText -= 1;
                    }
                    else {
                        ev.target.setAttribute("style", "color:red");
                        document.querySelector("#unlikely").innerText -= -1;
                        document.querySelector("#likely").innerText -= 1;
                    }
                },
                getDate: function (time) {
                    let date = new Date(time * 1000);
                    return date.toUTCString();
                },
                getFarenheit: function (thing) {
                    if (thing.main) {
                        let k = thing.main.temp;
                        return Math.round((9 / 5) * (k - 273) + 32);
                    }
                },
                getState: function (item) {
                    return this.states[item.state];
                },
                getWeather: function(thing) {
                    if (thing.weather) {
                        return thing.weather[0].description;
                    }
                },
                getHumidity: function(thing) {
                    if (thing.main) {
                        return thing.main.humidity;
                    }
                },
                getPressure: function(thing) {
                    if (thing.main) {
                        return thing.main.pressure;
                    }
                }
            },
            computed: {
                Default: function () {
                    let d = 0;
                    if (this.data.length) {
                        for (item of this.data) {
                            if (item.state == 0) d++;
                        }
                        return d;
                    }
                },
                likely: function () {
                    if (this.data.length) {
                        let d = 0;
                        for (item of this.data) {
                            if (item.state == 1) d++;
                        }
                        return d;
                    }
                },
                unlikely: function () {
                    if (this.data.length) {
                        let d = 0;
                        for (item of this.data) {
                            if (item.state == 2) d++;
                        }
                        return d;
                    }
                },
            },
            created() {
                let p = document.createElement("p");
                p.innerText = "Loading...";
                document.body.prepend(p);
                fetch("http://api.ipstack.com/check?access_key=193e92ea7f68b5b112692f34d9b4a93e")
                    .then(response => response.json())
                    .then(json => {
                        this.latitude = json.latitude;
                        this.longitude = json.longitude;
                        //my key 24008f17a176fd8ab60fe0e9e767d6d3
                        fetch(`http://api.openweathermap.org/data/2.5/forecast?lat=${this.latitude}&lon=${this.longitude}&APPID=24008f17a176fd8ab60fe0e9e767d6d3`)
                            .then(response => response.json())
                            .then(json => {
                                let data = json.list;
                                this.current = data.pop();
                                this.data = data.reverse();
                                for (item of this.data) {
                                    item.state = 0;
                                }
                            });
                        p.remove();
                    });
            },
        });
    </script>
</body>

</html>